html
  head
    title= title
    link(href='//fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic', rel='stylesheet')
    link(href='//cdn.rawgit.com/necolas/normalize.css/master/normalize.css', rel='stylesheet')
    link(href='//cdn.rawgit.com/milligram/milligram/master/dist/milligram.min.css', rel='stylesheet')
    style
      include ../node_modules/highlight.js/styles/atom-one-dark.css
      include ../styles/problem.css
  body
    div(class='row')
      div(class='column' id='tagline')
        a(href='/') // Interview Study Guide
    div(class='row')
      div(class='column')
        each problem in problems
          div(class='row')
            div(class='column')!= problem.explanation